{% load staticfiles %}
<link rel="shortcut icon" href="{% static 'favicon.png' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<div class="container">
    {% if root_cluster %}
        <h2>Hierarchical Clustering</h2>
        <ul>
        {%for child in root_cluster.children %}
             {%with cluster=child template_name="assignment2/cluster.html" %}
                  {%include template_name%}
             {%endwith%}
        {%endfor%}
        </ul>
    {% else %}
        <a href="/assignment2/load">Load data</a>
    {% endif %}
</div>
