{% load staticfiles %}

<link rel="shortcut icon" href="{% static 'favicon.png' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<div class="container">
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <h2>Similar users</h2>
    {% if users %}
        <ul>
        {% for user in users %}
            <li>{{ user.0 }} ({{ user.1|floatformat:3 }}) </a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No similar users found.</p>
    {% endif %}


    <h2>Movies {{ reference_user.name }} might like</h2>
    {% if movies %}
        <ul>
        {% for movie in movies %}
            <li>{{ movie.0 }} ({{ movie.1|floatformat:3 }})</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No movie recommendations found.</p>
    {% endif %}

    <a href="./" class="button">Back</a>
</div>
